{{>header}}
<link rel="stylesheet" href="css/blog.css">
{{>menu}}
<div class="main-img" style="background-image: url('https://images.unsplash.com/photo-1614703518285-27715d4d2475?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80'")>
    <div class="blog-card-container">
        <div class="blog-card">
            <h1>Tick removal Equipment</h1>
        </div>
    </div>
</div>

<main class="blog-post-container">
    <div class="blog-post-line">
        <div class="blog-post-info">
            <h4>Julio Perez</h4>
            <h5>05/29/21</h5>
        </div>

        <div class="blog-post"><img class="span-img"src="https://images.unsplash.com/photo-1614703518285-27715d4d2475?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla rerum deserunt iure dolorum reiciendis, architecto facere nobis iusto dolores et quis quasi veritatis omnis ipsam inventore modi nisi ipsa. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, inventore dolor! Molestiae aspernatur perferendis, ipsam suscipit hic a vero! Enim quis blanditiis incidunt inventore id placeat quasi consectetur alias quo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus laudantium ipsum, ad asperiores tempora deserunt perferendis aliquid. Eos placeat, odio tempora natus maiores dolores, accusantium magni quibusdam ipsa enim molestiae!</div>
    </div>
</main>

{{>footer}}