<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Hiking Blog</title>
</head>

<body>
    <header>
        <div class="logo">H</div>
        <label for="search">
            <input type="text" class="search" placeholder="search" id="search-header" name="search">
        </label>
        
        
        <nav id="nav">
            <label for="search">
                <input type="text" class="search"placeholder="search" id="search" name="search">
            </label>
            <h3>CATEGORIES</h3>
            <ul class="main-nav">
                <li><a href="#forests">Forests</a>
                    <ul class="list-subtopics">
                        <li><a href="#">Equipment</a></li>
                        <li><a href="#">Tips/Tricks</a></li>
                        <li><a href="#">Places</a></li>
                    </ul>
                </li>
                <li><a href="#tundras">Tundras</a>
                    <ul class="list-subtopics">
                        <li><a href="#">Equipment</a></li>
                        <li><a href="#">Tips/Tricks</a></li>
                        <li><a href="#">Places</a></li>
                    </ul></li>
                <li><a href="#mountains">Mountains</a>
                    <ul class="list-subtopics">
                        <li><a href="#">Equipment</a></li>
                        <li><a href="#">Tips/Tricks</a></li>
                        <li><a href="#">Places</a></li>
                    </ul></li>
                <li><a href="#deserts">Deserts</a>
                    <ul class="list-subtopics">
                        <li><a href="#">Equipment</a></li>
                        <li><a href="#">Tips/Tricks</a></li>
                        <li><a href="#">Places</a></li>
                    </ul></li>
            </ul>
        </nav>

        <div id="burger" class="burger">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
    </header>

    <div class="main-img">
        <h1>The Hiking Blog</h1>
    </div>
    
    <div class="card-container">
        <a href="#" class="card">
            <div class="card-img card-img-1">
                <p class="category">Equipment</p>
                <p class="title">Footwear For You</p>
            </div>
            <div class="card-dot-container">
                <div class="card-dot card-dot-main"></div>
                <div class="card-dot"></div>
                <div class="card-dot"></div>
            </div>
            
        </a>

        <a href="#" class="card">
            <div class="card-img card-img-2">
                <p class="category">Places</p>
                <p class="title">Africa</p>
            </div>
            <div class="card-dot-container">
                <div class="card-dot"></div>
                <div class="card-dot card-dot-main"></div>
                <div class="card-dot"></div>
            </div>
        </a>

        <a href="#" class="card">
            <div class="card-img card-img-3">
                <p class="category">Tips/Tricks</p>
                <p class="title">Breathing</p>
            </div>
            <div class="card-dot-container">
                <div class="card-dot"></div>
                <div class="card-dot"></div>
                <div class="card-dot card-dot-main"></div>
            </div>
        </a>
    </div>
    

    <footer>
        <div class="address">
            <p>P.O 555 555</p>
            <p>Fake Place, New Jersey</p>
            <p>United States of America</p>
            <a href="#subscribe">Subscribe to our newsletters</a>
        </div>

        <div class="contact">
            <p class="contact-number">555-555-5555</p>
            <p class="contact-email">julioperez224@gmail.com</p>
            <div class="contact-social">
                <i>Facebook</i>
                <i>Instagram</i>
                <i>LinkedIn</i>
            </div>
        </div>
        <div class="copyRight">
            <p>Copyright JPerez 2021</p>
        </div>
    </footer>
    <script src="js/app.js"></script>
</body>
</html>