body{
	padding: 1rem;
	background-image: url("DSC03183-Exposure(1).jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	 background-attachment: fixed;
	}

.cards{
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-gap: 1rem;
}

.card{
	background-color: dodgerblue;
	padding: 1rem;
	color: white;
	height: 4rem;
}

@media(min-width: 600px){
	.cards{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(min-width: 900px){
	.cards{
		grid-template-columns: repeat(3, 1fr);
	}
}
