:root{
    --main-color: #9FDFB3;
    --secondary-color: #DE8987;
    --light-gray: rgba(238, 238, 238, 0.795);
    --dark-gray: #999;
}

.form-img{
    background-image: url("https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100vw;
}

form{
    position: absolute;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 600px;
    height: max-content;
    max-width: 95vw;
    top: 200px;
    padding: 50px;
    letter-spacing: 1.5px;
}

h1{
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    color: var(--secondary-color);
}

form div{
    max-width: 95vw;
    width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.form-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-blog input, .form-blog textarea{
    font-size: 26px;
    height: 50px;
    width: 100%;
}



form label{
    font-size: 20px;
    margin-bottom: 10px;
}

form input{
    margin-bottom: 20px;
}

form select option, form select{
    font-size: 16px;
}

form input, form select{ 
    max-width: 90vw;
    width: 200px;
    padding: 20px;
    border: none;
}

.form-blog textarea{
    height: 300px;
    max-width: 95%;
    border: none;
}

/* .sm-margin-top{
    margin-top: 20px;
} */

button{
    border: none;
    font-size: 22px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: var(--main-color);
    color: var(--secondary-color);
}

footer{
    position: relative;
    top: 800px;
}