:root{
    --main-color: #9FDFB3;
    --secondary-color: #DE8987;
    --light-gray: rgba(238, 238, 238, 0.795);
    --dark-gray: #999;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body{
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
/* Header and Menu */

header{
    position: relative;
    width: 100vw;
    height: 10rem;
    background-color: var(--main-color);
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    font-size: 3.2rem;
    /* height: max-content; */
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
}

.burger{
    width: 3rem;
    cursor: pointer;
    z-index: 100;
}

.burger .line{
    cursor: pointer;
    margin-top: .5rem;
    width: 3rem;
    height: 2px;
    background-color: black;
}

nav{
    /*  */
    top: 10rem;
    left:0;
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    display: none;
}

.header-container{
    width: 100vw;
}

.search{
    padding: 20px 10px;
    font-size: 1.8rem;
    color: var(--dark-gray);
    background-color: var(--light-gray);
    border: none;
    width: 100vw;
    margin-bottom: 20px;
}

#search-header{
    display: none;
}

nav h3{
    font-size: 1.6rem;
    color: var(--dark-gray);
    font-weight: normal;
    align-self: flex-start;
    /* margin-left: 20px; */
    margin-bottom: 20px;
}

nav li, .list-subtopics li{
    list-style: none;
    width: 150px;
}

nav a, .list-subtopics a{
    text-decoration: none;
    font-size: 3rem;
    color: var(--secondary-color);
}


.list-subtopics{
    /* display: none; */
    /* position: relative; */
    height: 0px;
    transition: all .5s ease-in .2s;
    opacity: 0;
    /* z-index: -100; */
    margin-left: 2rem;
}

.list-subtopics li{
    margin-top: .5rem;
}
.list-subtopics a{
    width: max-content;
    font-size: 1.4rem;
    margin-left: 1rem;
}

nav h3, nav a{
    letter-spacing: .15rem;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
    height: max-content;
}

nav ul li:hover .list-subtopics, nav ul li:focus-within .list-subtopics{
    display: flex;
    flex-direction: column;
    height: 100px;
    opacity: 1;
    /* z-index: 10; */
}

/* Main image section mobile */

.main-img{
    width: 100vw;
    height: 400px;
    max-height: 70vh;
    background-image: url("https://images.unsplash.com/photo-1440186347098-386b7459ad6b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.main-img h1{
    font-size: 4rem;
    text-shadow:.2rem .2rem rgba(30, 30, 30, 0.395);
    margin-top: -10rem;
}

/* Card */

.card-container{
    width: 350px;
    height: max-content;
    display: flex;
    justify-content: start;
    overflow: hidden;
    
}

.card{
    min-width: 350px;
    height: 350px;
    max-height: max-content;
    background-color: var(--light-gray);
    position: relative;
    transition: left .5s ease;
    /* flex-basis: 0; */
}

.card-container .card{
    animation: slide-left 12s ease 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.card-img{
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.card-img-1{
    background-image: url("https://images.unsplash.com/photo-1614703518285-27715d4d2475?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
}

.card-img-2{
    background-image: url("https://images.unsplash.com/photo-1516026672322-bc52d61a55d5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=966&q=80");
}

.card-img-3{
    background-image: url("https://images.unsplash.com/photo-1591343395902-1adcb454c4e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YnJlYXRoaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
}

.card-img .category{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    color: var(--secondary-color);
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 1.15;
    text-shadow:.2rem .2rem rgba(30, 30, 30, 0.395);
}

.card-img .title{
    width: 150px;
    position: absolute;
    top: 60%;
    left: 20%;
    font-size: 5rem;
    color: white;
    font-weight: bold;
    text-shadow:.2rem .2rem rgba(30, 30, 30, 0.395);
}

.card-dot-container{
    display: flex;
    justify-content: space-between;
    width:75px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
}

.card-dot{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--dark-gray);
    
}

.card-dot-main{
    background-color: var(--main-color);
}

/* Footer */
footer{
    position: relative;
    width: 100%;
    height: max-content;
    padding: 2rem;
    color: var(--light-gray);
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    flex-wrap: wrap;
    overflow-x: auto;
}

footer p{
    font-size: 2.2rem;
    padding: 1rem 0;
    font-weight: lighter;
}

footer a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2.6rem;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: .2rem;
}

footer div{
    margin-bottom: 2rem;
}

footer .copyRight{
    opacity: .5;
}

/* Utility */
.show{
    display: flex;
}

@media(min-width: 700px){
    footer{
        flex-direction: row;
        justify-content: space-between;
    }

    footer .copyRight{
        align-self: flex-end;
    }
}

@media(min-width: 1100px){
    .burger{
        display: none;
    }

    header{
        width: 100vw;
        padding: 20px 20px;
        display: flex;
        flex-direction: row;
        height: 100px;
        justify-content: space-evenly;
        align-items: center;
    }

    nav{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 10rem;
        background-color: transparent;
        top: 12rem;
        width: 100vw;
    }

    nav .main-nav{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .main-nav a{
        font-size: 2rem;
    }

    nav li a, .list-subtopics a{
        text-shadow: .2rem .1rem rgba(30, 30, 30, 0.195);
        color: white;
        transition: color .3s ease-in;
        padding: 0;
    }

    .list-subtopics a:hover{
        color: var(--secondary-color);
    }

    nav h3{
        display: none;
    }

    #search{
        display: none;
    }

    #search-header{
        display: flex;
        width: 400px;
        height: 75px;
        margin-top: 2rem;
    }


    .card-container{
        width: 100vw;
        justify-content: space-evenly;
        overflow: visible;
        margin: 2rem;
    }

    .card-container .card{
        animation-name: none;
    
    }

    .card-dot-container{
        display: none;
    }
}

@keyframes slide-left{
    0%{
        left: 0;
    }


    25%{
        left: -100%;
    }

    50%{
        left: -200%;
        
    }

    75%{
        left: -100%;
    }

    100%{
        left: 0;
    }
}