
<body>
    <header>
        <div class="logo">H</div>
        <label for="search">
            <input type="text" class="search" placeholder="search" id="search-header" name="search">
        </label>
        
        
        <nav id="nav">
            <label for="search">
                <input type="text" class="search"placeholder="search" id="search" name="search">
            </label>
            <h3>CATEGORIES</h3>
            <ul class="main-nav">
                <li><a href="#forests">Forests</a>
                    <ul class="list-subtopics">
                        <li><a href="#">Equipment</a></li>
                        <li><a href="#">Tips/Tricks</a></li>
                        <li><a href="#">Places</a></li>
                    </ul>
                </li>
                <li><a href="#tundras">Tundras</a>
                    <ul class="list-subtopics">
                        <li><a href="#">Equipment</a></li>
                        <li><a href="#">Tips/Tricks</a></li>
                        <li><a href="#">Places</a></li>
                    </ul></li>
                <li><a href="#mountains">Mountains</a>
                    <ul class="list-subtopics">
                        <li><a href="#">Equipment</a></li>
                        <li><a href="#">Tips/Tricks</a></li>
                        <li><a href="#">Places</a></li>
                    </ul></li>
                <li><a href="#deserts">Deserts</a>
                    <ul class="list-subtopics">
                        <li><a href="#">Equipment</a></li>
                        <li><a href="#">Tips/Tricks</a></li>
                        <li><a href="#">Places</a></li>
                    </ul></li>
            </ul>
        </nav>

        <div id="burger" class="burger">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
    </header>