.img-div-1{
    background-image: url(../images/wildlife/1.jpg);
}

.img-div-2{
    background-image: url(../images/wildlife/2.jpg);
}
.img-div-3{
    background-image: url(../images/wildlife/3.jpg);
}
.img-div-4{
    background-image: url(../images/wildlife/4.jpg);
}

.img-div-5{
    background-image: url(../images/wildlife/5.jpg);
}

.img-div-6{
    background-image: url(../images/wildlife/6.jpg);
}

.img-div-7{
    background-image: url(../images/wildlife/7.jpg);
}

.img-div-8{
    background-image: url(../images/wildlife/8.jpg);
}

.img-div-9{
    background-image: url(../images/wildlife/9.jpg);
}