<%- include("partials/head")%> 


    <%- include("partials/navbar") %> 

    <ul>
       <% cats.forEach(function(cat){ %>
            <li><%= cat %> </li>
       <% }) %> 
    </ul>


<%- include("partials/footer") %> 