<%- include("partials/head")%> 


    <%- include("partials/navbar") %> 
    <div class="container">
        <h1>Home Page <%= 4 + 5%></h1>    
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus provident ab natus, atque itaque velit maiores neque reiciendis eum delectus repellendus enim, quae nam aliquid eveniet quam doloremque. Illum, sint.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste a necessitatibus praesentium ut iusto maxime distinctio nihil quisquam. Enim minus eaque nihil voluptates quia cupiditate repudiandae libero aliquid unde ea.</p>
    </div>
<%- include("partials/footer") %> 
