<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get and Post Practice</title>
</head>
<body>
    <h1>Get</h1>
<form action="http://localhost:3000/tacos" method="get">

    <input type="text" placeholder="Meat" name="meat">
    <input type="number" name="quantity" id="quantity">
    <button type="submit">Submit</button>
</form>

<h1>post</h1>
<form action="http://localhost:3000/tacos" method="post">

    <input type="text" placeholder="Meat" name="meat">
    <input type="number" name="quantity" id="quantity">
    <button type="submit">Submit</button>
</form>    
</body>
</html>
