/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    /* -webkit-box-sizing: border-box;
    box-sizing: border-box; */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  body {
    min-width: fit-content;
    max-width: 100vw;
    /* overflow-x: hidden; */
  }
  
  .menu {
    width: 25rem;
    height: max-content;
    background-color: #333;
    position: absolute;
    top: 0;
    left: -25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
    z-index: 1000;
    padding-bottom: 30%;
  }
  
  .menu-burger {
    width: 2.75rem;
    height: 2.75rem;
    margin-top: 1.25rem;
    margin-left: 0rem;
    cursor: pointer;
  }
  
  .menu .close:hover {
    color: #555;
    cursor: pointer;
  }
  
  .menu-burger .menu-burger-line {
    border-top: 2px solid #888;
    height: 0.65rem;
  }
  
  .slideLeft {
    left: 0;
  }
  
  .menu .logo {
    font-size: 2.4rem;
    color: orangered;
    font-weight: bold;
    text-align: center;
    padding: 3rem 5rem;
  }
  
  .menu a {
    font-size: 1.8rem;
    margin-bottom: 4rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .menu i {
    font-size: 2rem;
    color: #888;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 2rem;
  }
  
  .menu .menu-social h3 {
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .menu .menu-social a i {
    font-size: 2.6rem;
    color: orangered;
    margin-right: 2rem;
  }
  
  .menu .btn-login {
    border: 1px solid #888;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    color: #888;
    margin-top: 5rem;
  }
  
  .menu a:hover,
  .menu .btn-login:hover {
    color: orangered;
  }
  
  header {
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
  }
  
  header .header-logo {
    font-size: 2.4rem;
    color: orangered;
  }
  
  header .login,
  header .social {
    display: none;
  }
  
  .header-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 8rem;
  }
  .header-social h3 i {
    font-size: 2.4rem;
    color: #888;
  }
  
  .finder {
    height: 50rem;
    background-image: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1347&q=80);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .finder a,
  .finder form label {
    color: #eee;
    text-shadow: 2px 2px 2px rgba(255, 68, 0, 0.322);
  }
  
  .finder form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 35rem;
  }
  
  .finder form label {
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px rgba(255, 68, 0, 0.222);
    font-weight: bold;
  }
  
  .finder-icon {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .finder-icon .fa-search {
    position: absolute;
    font-size: 2.4rem;
    margin-left: 1.5rem;
    margin-top: 1.2rem;
    z-index: 100;
    color: #888;
  }
  
  .finder form input {
    border: none;
    height: 5rem;
    width: 100%;
    opacity: 0.9;
    font-size: 2.4rem;
    padding-left: 5rem;
  }
  
  .finder form a {
    font-size: 2.5rem;
    font-weight: lighter;
    cursor: pointer;
  }
  .finder form a i {
    font-size: 1.8rem;
    margin-left: 1rem;
  }
  
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* width: 100vw; */
    margin-top: 1rem;
    /* height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; */
    /* overflow-y: visible; */
  }
  
  .links .recipes .recipe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .links .recipes .recipe-1 .article-img {
    width: 90%;
    height: 350px;
    max-width: 60rem;
    background-image: url("https://images.unsplash.com/photo-1601582595900-c3e816e6e9e6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1347&q=80");
    background-size: cover;
    background-position: center;
  }
  
  .links .recipe-1 .recipe-text {
    text-align: center;
    letter-spacing: 0.2rem;
    width: 80%;
    max-width: 450px;
    background-color: white;
    margin-top: -8rem;
    padding: 3.5rem 0;
  }
  
  .recipes .recipe-1 h2 {
    font-size: 2rem;
    font-weight: lighter;
  
    color: lightgray;
  }
  
  .recipes .recipe-1 h3 {
    color: black;
    font-weight: 400;
    letter-spacing: 0.2rem;
    font-size: 2.4rem;
  }
  
  .recipes .recipe-1 h3:hover,
  .recipes .recipe-sub h3:hover {
    display: inline;
    /* margin-bottom: 0.4rem; */
    border-bottom: 1px solid black;
    cursor: pointer;
  }
  
  .recipes .recipe-1 .recipe-text h4 {
    color: orangered;
    font-weight: 300;
  }
  
  hr {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    color: lightgray;
    opacity: 0.7;
  }
  
  .links .recipes .recipe-sub {
    display: -ms-grid;
    display: grid;
    width: 80%;
    height: 15rem;
    padding: 1rem;
    -ms-grid-columns: 40% 60%;
    grid-template-columns: 40% 60%;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
    margin-left: 2rem;
  }
  
  .links .recipes .recipe-sub > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  
  .links .recipes .recipe-sub > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  
  .links .recipes .recipe-sub img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
    height: auto;
    max-width: 20rem;
  }
  
  .links .recipes .recipe-sub .recipe-text {
    text-align: left;
    letter-spacing: 0.2rem;
    width: 80%;
    margin-left: 1rem;
  }
  
  .links .recipes .recipe-sub .recipe-text h2 {
    font-size: 1.7rem;
    color: lightgray;
  }
  
  .links .recipes .recipe-sub .recipe-text h3 {
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;
  }
  
  .links .recipes .recipe-sub .recipe-text h4 {
    font-size: 1rem;
    color: orangered;
  }
  
  .links .big-guide {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 5rem;
    text-align: center;
  }
  
  .guide-text-block img {
    display: none;
  }
  
  .big-guide-block {
    display: none;
  }
  
  .links .recipes .big-guide .big-guide-kambucha {
    margin-bottom: 2rem;
  }
  
  .links .recipes .big-guide .big-guide-kambucha figcaption {
    position: absolute;
    width: 20rem;
    font-size: 1.8rem;
    background-color: orangered;
    color: white;
    padding: 1rem 2.5rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12.5px;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .links .recipes .big-guide .big-guide-kambucha img {
    width: 100vw;
    max-width: 80rem;
    height: auto;
  }
  
  .links .recipes .big-guide .big-guide-text {
    margin: 0 auto;
    width: 80%;
    line-height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .big-guide-text .big-guide-text-header {
    font-size: 2.6rem;
    font-weight: 400;
  }
  
  .big-guide-text a {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  
  .links .recipes .big-guide .big-guide-text .big-guide-block a {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: black;
  }
  
  .links .recipes .big-guide .big-guide-text .big-guide-send {
    color: orangered;
    font-weight: bolder;
  }
  
  .links .recipes .big-guide .big-guide-text a:hover {
    border-bottom: 1px solid black;
  }
  
  .slideshow {
    width: 100vw;
    height: 35rem;
    background-color: rgb(230, 230, 230);
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
  }
  
  .slideshow .slide {
    width: 33rem;
    height: 100%;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 2rem;
    padding: 0;
  }
  
  .slideshow .slide a {
    background-size: cover;
    background-position: center;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
  }
  
  .slideshow .slide h3 {
    font-size: 1.7rem;
    color: black;
    margin-top: 1rem;
  }
  
  .slideshow .slide h3 {
    font-size: 1.7rem;
    color: rgb(112, 112, 112);
    margin-top: 1rem;
  }
  .slideshow .slide-1 a {
    background-image: url("https://images.unsplash.com/photo-1599320207475-3d793554fda0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
  }
  
  .slideshow .slide-2 a {
    background-image: url("https://images.unsplash.com/photo-1564645218026-797631447574?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  }
  
  .slideshow .slide-3 a {
    background-image: url("https://images.unsplash.com/photo-1585946472523-07df7e82d32e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  }
  
  .slideshow .slide-4 a {
    background-image: url("https://images.unsplash.com/photo-1557500813-f86c2da590b3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  }
  
  .slideshow .slide-5 a {
    background-image: url("https://images.unsplash.com/photo-1606130715597-140fc4c6ea0a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
  }
  
  .signup-form {
    background-color: orangered;
    color: white;
    height: 20rem;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .signup-form label {
    width: 60%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .signup-form input {
    border: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 1rem 3rem 1rem 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(112, 112, 112, 0.6);
    height: 5rem;
    margin-top: 2rem;
  }
  
  .signup-form button {
    background-color: black;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    padding: 1rem 3rem 1rem 1rem;
    text-align: center;
    height: 7rem;
    text-transform: uppercase;
    margin-left: -1px;
  }
  
  footer {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #333;
    height: 7rem;
    color: white;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding-top: 1rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  footer section ul li {
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    list-style: none;
  }
  
  footer .logo {
    font-size: 2rem;
  }
  
  footer div {
    font-size: 1.5rem;
  }
  
  @media (min-width: 750px) {
    header {
      /* width: 100vw; */
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-evenly;
    }
  
    header .header-logo {
      font-size: 3rem;
    }
  
    header .social {
      display: flex;
    }
  
    header .login {
      display: flex;
    }
  
    header .login a {
      font-size: 1.6rem;
      color: orangered;
      border: 1px solid orangered;
      padding: 7px 12px;
      border-radius: 5px;
      text-decoration: none;
      margin-left: 10px;
    }
  
    header .login a:hover {
      color: white;
      background-color: orangered;
    }
  
    .social a i {
      font-size: 2.5rem;
      margin-right: 1rem;
      color: orangered;
    }
  
    .menu-burger {
      margin-left: 5rem;
    }
  
    .finder form {
      width: 600px;
      margin: 0 auto;
    }
  
    .finder form input {
      margin: 0 auto;
      width: 60rem;
    }
  
    .links .recipes {
      width: 90%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  
    .links .recipes .recipe-1 .article-img {
      height: 35rem;
      max-width: 85rem;
    }
  
    .links .recipes .recipe-1 .recipe-text {
      padding: 4rem 0;
      max-width: 70%;
    }
  
    .main-divider {
      display: block;
      max-width: 800px;
    }
  
    .links .recipes .big-guide {
      width: 100%;
      /* max-width: 100%; */
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 4rem 0;
    }
  
    .links .recipes .big-guide .big-guide-kambucha {
      grid-column: 1/3;
      grid-row: 1/2;
      padding-bottom: 2rem;
    }
  
    .links .recipes .big-guide .big-guide-kambucha figcaption {
      font-size: 2.6rem;
    }
  
    .links .recipes .big-guide .big-guide-kambucha img {
      max-width: 1000px;
      width: 100%;
      height: auto;
    }
  
    .big-guide {
      max-width: 1000px;
      margin: 0 auto;
      max-height: max-content;
    }
  
    .links .recipes .big-guide .big-guide-text {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
  
    .links .recipes .big-guide .big-guide-text {
      border-left: 1px solid lightgray;
      padding-left: 2rem;
    }
  
    .big-guide-text .big-guide-text-header {
      display: none;
    }
  
    .big-guide-block {
      display: inline;
      text-align: left;
      grid-row: 2/3;
      grid-column: 1/2;
    }
  
    .big-guide-title {
      display: block;
      font-size: 6rem;
    }
  
    .big-guide-description {
      font-size: 2.2rem;
      margin-top: 2rem;
      letter-spacing: 0.2rem;
    }
  
    .guide-text-block {
      display: flex;
      width: 100%;
      justify-content: start;
      align-items: start;
  
      margin-bottom: 2rem;
    }
  
    .guide-text-block img {
      display: inline;
      width: 150px;
      height: auto;
    }
  
    .guide-text-block a {
      display: inline;
      font-size: 2rem;
      font-weight: 500;
      text-align: left;
      margin-left: 2rem;
    }
  
    .signup-form label {
      font-size: 2.6rem;
    }
  }
  
  @media (min-width: 850px) {
    .links .recipes .recipe-1 .recipe-text {
      margin-top: -10rem;
      width: 800px;
    }
    .recipe-block {
      margin: 0 auto;
      max-width: 1000px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      height: 700px;
      margin-top: 2rem;
    }
  
    .links .recipes .recipe-sub {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
    .links .recipes .recipe-sub img {
      width: 300px;
      max-height: 200px;
      max-width: none;
    }
  
    .links .recipes .recipe-sub .recipe-text {
      text-align: center;
      margin-top: 2rem;
    }
    hr {
      display: none;
    }
  }
  