<div class="main-content">
    {{>header}}
    <p>Use this site to find the weather</p>
</div>
    {{!-- To inject data you must use two curly braces {{}} --}}
    {{!-- <img src="/images/robot.png" alt=""> --}}

{{>footer}}