<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Lead Navbar</title>
</head>
<body>
    <div class="burger" id="burger">
        <div class="burger-line"></div>
        <div class="burger-line"></div>
        <div class="burger-line"></div>
    </div>
    <nav id="nav">
        <div class="logo">
            <div class="color color1"></div>
            <div class="color color2"></div>
            <div class="color color3"></div>
            <h1>LEAD</h1>
        </div>

        <div class="link-container">
            <a href="">Home</a>
            <a href="">Pages</a>
            <a href="">Resources</a>
            <a href="">Docs</a>
        </div>

        <div class="login-container">
            <a href="" class="btn btn-login">Buy</a>
            <!-- <a href="" class="btn btn-signup">Signup</a> -->
        </div>
    </nav>
    <script src="app.js"></script>
</body>
</html>